.organizatori {
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    align-items: center;
    margin-top: 30px;
}

.add-organizer-div {
    position: relative;
    width: 350px;
    height: 590px;
    padding: 30px;
    padding-bottom: 50px;
    margin: 30px;
    border-radius: 12px;
}

.plus-div {
    max-width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 300px;
    color: rgb(220, 220, 220);
}

.add-organizer-div:hover,
.plus-div:hover {
    cursor: pointer;
    background-color: rgb(195, 195, 195);
    color: white;
}

.highlight {
    background-color: yellow;
}

@media (max-width: 768px) {
    .organizatori {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: 0 auto;
    }

    .add-organizer-div {
        width: calc(100% - 40px);
        height: auto;
        padding: 20px;
        margin: 20px 0;
    }

    .plus-div {
        font-size: 150px;
    }

    .plus-div:hover {
        background-color: transparent;
        /* Remove background color change on hover */
    }
}